.contact-flex{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.left-con .social{
    display: flex;
    align-items: center;
}
.right-con .social{
    display: flex;
    align-items: center;
}